@page
@model FinalProject.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @{
                    var firstSort = "first_asc";
                    if (Model.CurrentSort == "first_asc"){
                        firstSort ="first_desc";
                    }
                }
                <a asp-page="./Index" asp-route-CurrentSort="@firstSort">@Html.DisplayNameFor(model => model.User[0].Name)</a>
            </th>
           
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
             
            <td>
                
                @foreach (var product in item.UserProducts)
                {
                    @product.Product.Description <br />
                     
                }
                @if (item.UserProducts.Count == 0)
                {
                    @:Not List Product
                }
            </td>            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.userID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.userID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.userID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

</hr>
<hr />
@{
    // If we are on page 1, prevDisabled will be set to the "disabled" class
    // otherwise, it will be empty. So our previous button will be enabled or disabled based on this logic
    var prevDisabled = "";
    if (Model.PageNum <= 1)
    {
        prevDisabled = "disabled";
    }
}
@{
    // If we are on page 1, prevDisabled will be set to the "disabled" class
    // otherwise, it will be empty. So our previous button will be enabled or disabled based on this logic
    var nextDisabled = "";
    if (Model.PageNum <= -3)
    {
        nextDisabled = "disabled";
    }
}
<!-- Pagination -->
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <!-- FIXME: These buttons will forget your current sort order! -->
    <li class="page-item @prevDisabled"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum - 1)">Previous</a></li>
    <li class="page-item @nextDisabled"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum + 1)">Next</a></li>
  </ul>
</nav>
